:root {
    --text-color: #000000;
    --background-color: #fcd116;
    --secondary-background: #009e5c;
    --accent: #ff2a42;
    --header-1: 900;
    --header-2: 800;
    --header-3: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zalando Sans Expanded', sans-serif;
}

header {
    height: 5rem;
    text-align: center;
    background-color: skyblue;
}

h1 {
    font-weight: var(--header-1);
    margin: auto;
    padding: 1.3rem;
}

img {
    width: 100%;
    height: auto;
}

.banner-image {
    padding: 10px 0;
    background-color: tan;
}

h2 {
    font-weight: var(--header-2);
}

.weather img {
    height: 50px;
    width: auto;
}

.data {
    text-align: center;
    padding: 1rem 0 2rem;
    border-bottom: 3px solid var(--accent);
}

ul {
    list-style: none;
}

.weather {
    text-align: center;
    padding: 1rem 0;
    margin: auto;
}

footer {
    font-weight: var(--header-3);
    height: 6rem;
    text-align: center;
    padding: 1rem 0;
    background-color: var(--background-color);
}