@media screen and (min-width: 640px) {
    :root {
    --text-color: #000000;
    --background-color: #fcd116;
    --secondary-background: #009e5c;
    --accent: #ff2a42;
    --header-1: 900;
    --header-2: 800;
    --header-3: 300;
    }

    .main-content {
        position: relative;
    }

    .banner-image {
        position: block;
        padding-top: 20px;
        background-color: tan;
    }
    
    .data h2, .weather h2 {
        background-color: var(--background-color);
    }
    
    .main-content .data {
        width: 20rem;
        height: 12rem;
        position: absolute;
        top: 45px;
        left: 25px;
        margin-bottom: 0;
        padding: 0;
        background-color: var(--accent);
        opacity: 80%;
    }
    
    .data h2 {
        margin: 15px 3rem 15px 0.5rem;
        border: 1px solid #777;
    }
    
    .main-content .weather {
        width: 15rem;
        height: 13.5rem;
        position: absolute;
        right: 50px;
        bottom: 50px;
        padding: 0;
        background-color: var(--secondary-background);
        opacity: 80%;
    }
    
    .data h2, .data ul, .weather h2, .weather ul {
        opacity: 100%;
    }

    .weather h2 {
        margin: 15px 0.5rem 15px 3rem;
        border: 1px solid #777;
    }

    .weather img {
        position: static;
        margin-bottom: 10px;
        padding-top: 0;
    }

    footer {
        height: auto;
    }
}