@media screen and (min-width: 640px) {
    header {
        width: 100%;
        height: 100px;
    }
    
    h1 {
        border: 1px solid #777;
        margin: 10px;
        padding: 20.4px;
    }

    .banner-image {
        position: relative;
    }

    .data {
        width: 350px;
        height: 300px;
        position: absolute;
        float: left;
    }

    .weather {
        width: 350px;
        height: 300px;
        position: absolute;
        float: right;
    }
}