* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
}

.title {
    grid-template-rows: 1fr 0.5fr
}

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
}