/* All PageStuff */

:root {
    --background-color: #966fd6;
    --main-text-color: #1a1423;
    --grape: #372549;
    --light-wood: #9d6e55;
    --lavender: #d9dbf1;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "EB Garamond", "sans-serif";
    font-weight: 400 ;
}

.grid {
    display: grid;
}

/* Header and Nav Bar */

header {
    display: grid;
}

header span {
    display: block;
}

#course-title {
    height: 3rem;
    align-content: center;
    text-align: center;
    background-color: var(--background-color);
    color: var(--grape);
    font-weight: 400;
}

/* Nav Bar */

nav {
    grid-template-columns: auto auto auto auto;
    background-color: var(--grape);
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 0;
}

nav ul {
    display: grid;
    list-style-type: none;
}

nav ul li {
    justify-content: space-around;
}

nav a {
    display: block;

    color: #fff;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid var(--lavender);
}

/* Larger Views */

@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}

/* Main and Aside Content */

main {
    display: grid;
    width: auto;
    background-color: var(--light-wood);
    justify-content: center;
    grid-template-columns: auto auto;
    column-gap: 5px;
}

/* Main Content */

h1 {
    text-align: center;
    margin: 1rem 0;
    /* border: 1px solid #000; */
    grid-column: 1 / 3;
    color: var(--lavender);
}

.card {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--background-color);
}

.card h2 {
    background-color: var(--background-color);
    color: var(--grape);
    padding: 0.5rem 3rem;
    height: 3rem;
    text-align: center;
}

.one {
    margin: 0 0 0.5rem 1rem;
    grid-column: 1 / 2;
    border-radius: 0.5rem 2rem;
}

.one h2 {
    border-radius: 0.5rem 2rem 0 0;
}

.two {
    margin: 0 1rem 0.5rem 0;
    grid-column: 2 / 3;
    border-radius: 2rem 0.5rem;
}

.two h2 {
    border-radius: 2rem 0.5rem 0 0;
}

.card p {

}

/* Footer */

footer {
    background-color: var(--background-color);
    color: var(--grape);
    text-align: center;
    padding: 1rem;
}