/* All PageStuff */

:root {
    --background-color: #966fd6;
    --main-text-color: #1a1423;
    --grape: #372549;
    --light-wood: #c68866;
    --lavender: #d9dbf1;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "EB Garamond", "sans-serif";
    font-weight: 400 ;
}

.grid {
    display: grid;
}

/* Header and Nav Bar */

header {
    display: grid;
}

span {
    display: block;
}

#course-title {
    height: 3rem;
    align-content: center;
    text-align: center;
    background-color: var(--background-color);
}

/* Nav Bar */

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: var(--grape);
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid var(--lavender);
}

/* Larger Views */

@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}

/* Main and Aside Content */

h1 {
    text-align: center;
    margin: 1rem 0;
}

main {
    display: grid;
    width: 800px;
    background-color: var(--light-wood);
    justify-content: center;
}

/* Main Content */

/* Aside Content */

aside {
    background-color: #fff;
}

/* Footer */

footer {
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 0 0 5rem 0;
}