/* All PageStuff */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
}

/* Header and Nav Bar */

.title {
    background-color: gray;
    color: #fff;
}

h1 {
    height: 6rem;
}

/* Nav Bar */

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #000;
    padding: 1rem 0;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

/* Main and Aside Content */

.mainstuff {
    grid-template-columns: 3fr 1fr;
    height: 10rem;
    background-color: lightgray;
}

/* Main Content */

/* Aside Content */

aside {
    background-color: #fff;
}

/* Footer */

footer {
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 0 0 5rem 0;
}