/* All PageStuff */

:root {
    --background-color: #966fd6;
    --main-text-color: #1b1738;
    --grape: #372549;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "EB Garamond", "sans-serif";
    font-weight: 400 ;
}

.grid {
    display: grid;
}

/* Header and Nav Bar */

header {
    display: grid;
}

header span {
    display: block;
}

#course-title {
    height: 3rem;
    align-content: center;
    text-align: center;
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-weight: 400;
}

/* Nav Bar */

nav {
    grid-template-columns: auto auto auto auto;
    background-color: var(--grape);
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 0;
}

nav ul {
    display: grid;
    list-style-type: none;
}

nav ul li {
    justify-content: space-around;
}

nav a {
    display: block;

    color: #fff;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid var(--lavender);
}

/* Larger Views */

@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}

/* Main and Aside Content */

main {
    display: grid;
    width: auto;
    /* background-color: var(--lightness); */
    justify-content: center;
    grid-template-columns: 3fr 2fr;
    column-gap: 20px;
}

/* Main Content */

img {
    margin: 0.75rem;
}

h1 {
    text-align: center;
    margin: 1rem 0;
    /* border: 1px solid #000; */
    grid-column: 1 / 3;
    color: var(--lavender);
}

.card {
    /* width: 100%; */
    /* padding: 1rem; */
    border: 5px solid var(--background-color);
}

.card h2 {
    background-color: var(--background-color);
    color: var(--main-text-color);
    padding: 0.5rem 3rem;
    height: 3rem;
    text-align: center;
}

.one {
    /* width: 50%; */
    margin: 0 0 1rem 2rem;
    grid-column: 1 / 2;
    border-radius: 0.5rem 2rem;
}

.one h2 {
    border-radius: 0.15rem 1rem 0 0;
}

.two {
    margin: 0 2rem 1rem 0;
    grid-column: 2 / 3;
    border-radius: 2rem 0.5rem;
}

.two h2 {
    border-radius: 1rem 0.15rem 0 0;
}

h3 {
    text-align: center;
    border-bottom: 1px solid var(--grape);
}

.info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* grid-template-rows: ; */
    padding: 1rem 0.5rem;
}

.info p {
    /* grid-column: 1/2; */
    margin: 0.75rem 0 0 0;
}

.card .info img {
    width: 150px;
    height: auto;
}

.country {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.profile {
    grid-column: 2/3;
}

.skilllist {
    /* box-sizing: none; */
    height: 100%;
    margin: 2rem;
}

ul {
    display: grid;
    justify-content: space-around;
}

/* Footer */

footer {
    background-color: var(--background-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 1rem;
}